<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.VideoPlayHistoryMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.VideoPlayHistory">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="videoId" column="videoId" jdbcType="VARCHAR"/>
            <result property="fileIndex" column="fileIndex" jdbcType="INTEGER"/>
            <result property="lastUpdateTime" column="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,videoId,fileIndex,
        lastUpdateTime
    </sql>
</mapper>
